framework: net6.0
source https://api.nuget.org/v3/index.json

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.5
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 3.0.0
nuget Be.Vlaanderen.Basisregisters.MessageHandling.AwsSqs.Simple 4.1.4

// LAMBDA STUFF
nuget Amazon.Lambda.Core 2.1.0
nuget Amazon.Lambda.Serialization.Json 2.0.0
nuget Amazon.Lambda.SQSEvents 2.1.0
nuget Microsoft.Extensions.Configuration.Binder 6.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 6.0.1
nuget Microsoft.Extensions.Configuration.FileExtensions 6.0.0
nuget Microsoft.Extensions.Configuration.Json 6.0.0
nuget Microsoft.Extensions.DependencyInjection 6.0.0
nuget Microsoft.Extensions.Logging 6.0.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
